{# Jinja2 template used by Flask to return document details in HTML #}
{% if details %}
    <div id="image-div">
        {% if details.image_id %}
            <img src="static/media/img/{{ details.image_name }}" alt="Speaker Image"/>
            <p><em>{{ details.main_speaker }}</em></p>
        {% else %}
            <img src="static/media/img/placeholder.png" alt="Speaker Image"/>
            <p><em>Image of the speaker at this event is not yet available.</em></p>
        {% endif %}
    </div>
    <p class="details-name">{{ details.name }}</p>
    <p>{{ details.description }}</p>
    <p><strong>Date: </strong>{{ details.film_date }}</p>
    <p><strong>Time: </strong>{{ details.duration }}</p>
    <p><strong>Views: </strong>{{ details.views }}</p>
    <strong>Tags:</strong>
    {% for tag in details.tags%}
        <span class="mdl-chip">
            <span class="mdl-chip__text">{{ tag }}</span>
        </span>
    {% endfor %}
    <p class="details-watch-video"><a href="{{ details.url }}" target="_blank">Watch Video on Ted.com</a></p>
    {% if details.comments|length > 0 %}
        <p><strong>Comments:</strong></p>
        {% for comment in details.comments %}
            <p>{{ comment }}</p>
        {% endfor %}
    {% endif %}
    <button onclick="addComment('{{ details._id }}')" id="submit-comment-button"
            class="mdl-button mdl-js-button mdl-button--raised">Comment</button>
{% endif %}
