<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Ted Talks Search</title>
    <link rel="shortcut icon" href="../static/media/favicon.ico" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-red.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/search.js" type="text/javascript"></script>
</head>
<body>
<div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-200">
    <header class="mdl-layout__header mdl-color--grey-400 mdl-color-text--grey-800 header-color">
        <div class="mdl-layout__header-row">
            <span id="headerTitle" class="mdl-layout-title"><span class="ted-talk-font-red">TED</span> Talks Search</span>
        </div>
    </header>
    <main class="mdl-layout__content">
        <!-- This Grid contains the search bar and dropdowns  -->
        <div class="mdl-grid">
            <div class=" mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="mdl-cell mdl-cell--2-col is-dirty">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="search" onsearch="searchForDocs()" id="searchBar" class="mdl-textfield__input darker"
                           type="text"></input>
                    <label class="mdl-textfield__label darker" for="searchBar">Begin your search here. . .</label>
                </div>
            </div>
            <div class="mdl-cell">
                <button id="filterOptions" class="mdl-button mdl-js-button">
                    <span>Filter</span>
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                <button id="sortOptions" class="mdl-button mdl-js-button">
                    <span>Sort</span>
                    <i class="material-icons">arrow_drop_down</i>
                </button>
            </div>
        </div>

        <!-- Dropdown for the field button-->
        <ul class="mdl-menu mdl-js-menu" for="filterOptions">
            <!-- <li class="mdl-list__item" disabled>Filter By:</li>-->
            <!-- Each item has a check box next to it -->
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Name</span>
                <span class="mdl-list__item-secondary-action">
                    <label class = "mdl-radio mdl-js-radio mdl-js-ripple-effect" for = "name_Radio">
                       <input value="name" type = "radio" id = "name_Radio" name = "filters"
                          class = "mdl-radio__button">
                    </label>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Tags</span>
                <span class="mdl-list__item-secondary-action">
                    <label class = "mdl-radio mdl-js-radio mdl-js-ripple-effect" for = "tag_Radio">
                       <input value="Tags" type = "radio" id = "tag_Radio" name = "filters"
                          class = "mdl-radio__button">
                    </label>
              </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Description</span>
                <span class="mdl-list__item-secondary-action">
                    <label class = "mdl-radio mdl-js-radio mdl-js-ripple-effect" for = "desc_Radio">
                       <input value="Description" type = "radio" id = "desc_Radio" name = "filters"
                          class = "mdl-radio__button">
                    </label>
                </span>
            </li>
            <!-- Presenter, Title, Occupations, description, event, Tags  -->
        </ul>

        <!-- Dropdown for the filter button-->
        <ul class="mdl-menu mdl-js-menu" for="sortOptions">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Most Viewed</span>
                <span class="mdl-list__item-secondary-action">
                    <label class = "mdl-radio mdl-js-radio mdl-js-ripple-effect" for = "mostViewed_Radio">
                       <input value="Most Viewed" type = "radio" id = "mostViewed_Radio" name = "sorts"
                          class = "mdl-radio__button">
                    </label>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Most Recent</span>
                <span class="mdl-list__item-secondary-action">
                    <label class = "mdl-radio mdl-js-radio mdl-js-ripple-effect" for = "mostRecent_Radio">
                       <input value="Most Recent" type = "radio" id = "mostRecent_Radio" name = "sorts"
                          class = "mdl-radio__button">
                    </label>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Most Commented</span>
                <span class="mdl-list__item-secondary-action">
                    <label class = "mdl-radio mdl-js-radio mdl-js-ripple-effect" for = "mostCommented_Radio">
                       <input value="Most Commented" type = "radio" id = "mostCommented_Radio" name = "sorts"
                          class = "mdl-radio__button">
                    </label>
                </span>
            </li>
        </ul>

        <div id="results">
            <!-- AJAX call returns all matching documents to this div. See Jinja2 template for format -->
            <p class="fillerText">Begin your search above to see results.</p>
        </div>
        <button onclick="goBackToTop()" class="mdl-button mdl-js-button mdl-button--raised back-to-top">
            Back To Top
        </button>


        <!-- Modal -->
        <div id="the-modal" class="modal-container" style="display: none">
            <div class="modal-content">
                <div class="inner-container">
                  <span onclick="closeModal()"
                  class="material-icons modal-close-button">clear</span>
                  <span id="detailsBody"></span>
                  <p>Comments</p>
                  <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" id="comment-field">
                      <label class="mdl-textfield__label" for="comment-field">Leave your comment</label>
                  </div>
                </div>
            </div>
        </div>
         <button onclick="addComment(ID)" class="mdl-button mdl-js-button mdl-button--raised back-to-top">
                      Back To Top
         </button>
    </main>
</div>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
